<h2 id="results-title">Best Scene votes for <%= @scene.title %>, <em><%= @scene.movie.title %></em></h2>

<ul id="movie-votes">
  <% @votes.each do |v| %>
    <li><%= v.ballot.user.name %> <%= v.points %></li>
  <% end %>
</ul>
