<% provide(:title, "Change password") %>
<h2>Change password</h2>

<%= simple_form_for(@user) do |f| %>
  <div class="row">
    <div class="large-4 columns large-centered">
      <%= f.input :password, label: "New password" %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns large-centered">
      <%= f.input :password_confirmation, label: "Confirmation" %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns large-centered">
      <%= f.submit "Update password", class: "button" %>
    </div>
  </div>
<% end %>
