<h1>Supplementary Ratings</h1>

<h2>Films with fewer than five ratings</h2>
<ul>
<% @movies.each do |m| %>
  <li><%= m.title %>
  <% m.ratings.each_with_index do |r, i| %>
    <% length = m.ratings.length %>
    <% if i == 0 %>(<% end %><%= r.ballot.user.last_name %> <%= r.value %><% if i != length - 1 %>, <% else %>)<% end %>
  <% end %>

<% end %></li>
</ul>

<h2>Films shunned by all and sundry</h2>
<ul>
<% @shunned_movies.each do |sm| %>
  <li><%= sm.title %></li>
<% end %>
</ul>
