header {
  margin-left: 10px;
}

h2 {
  text-align: center;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

i.fi-check {
  color: green;
}

i.fi-minus-circle {
  color: red;
}
.category-button {
  height: 0px;
}

.ballot-categories {
  margin: 0 0 20px 0;
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

#point-total {
  color: #fff;
  font-size: 1.1em;
}

.category-list {
  ul {
    margin-bottom: 5px !important;
  }
}
#ballot-ratings {
  margin-bottom: 30px;
}

.complete {
  background-color: green;
}

.incomplete {
  background-color: red;
}
.vote-link {
  margin-left: 10px;
  margin-bottom: 10px;
}
#top-ten {
  h3 {
    text-align: center;
  }
  .top-ten-link {
    text-align: center;
  }
  ul#top-ten-list {
    width: 300px;
    margin: 0 auto 25px auto;
    list-style-type: none;
  }
}

#ratings {
  h3 {
    text-align: center;
  }
  ul {
    width: 300px;
    margin: 0 auto;
    list-style-type: none;
  }
  .ratings-link {
    text-align: center;
    margin-bottom: 15px;
  }
  margin-bottom: 30px;
}

.ranked-choice {
  text-align: center;
}

.rating-button {
  margin-top: 15px;
  text-align: center;
}

.rating-link {
  text-align: center;
}
.home-link {
  text-align: center;
}
.radio {
  display: inline;
}

.submit-ballot {
  text-align: center;
}
.ballot-list {
  list-style-type: none;
}

.movie-title {
  margin-top: 7px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
