<h2 id="results-title">Top Ten Lists</h2>

<div id="top-tens">
  <% @ballots.each do |b| %>
    <% if b.top_ten_entries.length > 0 %>
      <h3><%= b.user.name %></h3>
      <% if b.top_ten_entries[0].rank == 0 %>
        <ul class="top-ten-unranked">
      <% else %>
        <ol class="top-ten">
      <% end %>
      <% b.top_ten_entries.by_rank.each do |tte| %>
          <li><%= tte.value %></li>
      <% end %>
      <% if b.top_ten_entries[0].rank == 0 %>
        </ul>
      <% else %>
        </ol>
      <% end %>
    <% end %>
  <% end %>
</div>
